/* Position the counter text to the right of the button and make it bold */
#count {
  display: inline-block;
  margin-left: 20px;
  font-weight: bold;
}

/* Set up the logo */
#logo {
  width: 200px;
  height: 200px;
  background-image: url('../assets/holberton-logo.jpg');
  background-size: cover;
}
